/* Page */
.page-intro {
  display: block;
}

/* Page */

/* Tab */
#left_tab,
#right_tab {
  position: relative;
  height: 100%;
}

.tab-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: .875rem !important;
  z-index: 1;
}

.render-button {
  right: unset;
  left: 1rem;
}

/* Tab */

/* Tab Nav */
.nav-tabs {
  padding: .75rem 1rem 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
}

.nav-tabs .nav-link {
  padding: .5rem 1rem .25rem;
  border: 0;
}

.nav-tabs .nav-link:not(.active) {
  background-color: unset !important;
}

.nav-tabs .nav-link:not(.active):hover {
  color: #9e9e9e !important;
}

/* Tab Nav */

/* Tab Pane */
.tab-content {
  position: relative;
  height: calc(100% - 48px);
}

.tab-pane {
  position: relative;
  height: 100%;
}

.pane-body {
  height: 100% !important;
  min-height: 400px;
  padding: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pane-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1;
}

.pane-widget {
  display: block;
  position: absolute;
  bottom: 1rem;
  font-size: .875rem !important;
  z-index: 1;
}

.pane-widget button,
.pane-widget button:hover,
.pane-widget button:focus {
  text-decoration: none;
}

.pane-widget button,
.pane-widget button:hover,
.pane-widget button:focus {
  color: #4285f4 !important;
}

#left_text_upload {
  text-align: right;
  left: 1rem;
}

#left_text_stat {
  text-align: right;
  right: 1rem;
}

/* Tab Pane */

/* Placeholder */
.pane-placeholder {
  display: block;
  position: absolute;
  text-align: left;
  pointer-events: none;
  top: .6rem;
  left: 1rem;
  right: 1rem;
  color: #959595;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  z-index: 1;
}

.pane-placeholder .placeholder-note {
  font-size: 1rem;
  margin-top: .5rem;
}

.pane-placeholder .placeholder-note p {
  margin-bottom: .5rem;
}

.pane-placeholder .placeholder-note code {
  font-size: .95rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Placeholder */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Page */
  .page-container {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  /* Tab */
  .row-tab {
    margin-left: 0;
    margin-right: 0;
  }

  .col-tab {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-tabs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .pane-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
