/* Annotation */
.annot-showcase,
.showcase-sentence {
  position: relative;
  font-size: 14px;
  line-height: 32px;
}

.showcase-sentence {
  padding-bottom: .5rem;
}

.showcase-sentence::before {
  content: '';
  position: absolute;
  top: .25rem;
  left: -.625rem;
  bottom: .75rem;
  border-left: 3px solid var(--sentence-bar-color);
}

.target-other,
.target-token,
.target-br {
  position: relative;
}

.target-entity,
.target-badge {
  border: 2px solid transparent;
}

.target-entity {
  font-weight: 400;
  padding: 0 0.125rem;
  white-space: nowrap;
}

.target-badge {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: .8rem;
  line-height: 1rem;
  padding: 0 0.125rem;
  color: #ffffff;
  background-color: #b0bec5;
  border-radius: .125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.target-caret {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.25rem;
  color: #607d8b;
}

.target-entity.hovered,
.target-badge.hovered {
  border-color: #343a40;
}

.target-caret.hovered {
  text-shadow: 0 0 3px #343a40;
}

.target-path {
  position: absolute;
  top: 2rem;
}

.target-path.hovered {
  filter: drop-shadow(0 0 1px #343a40)
}

.target-path.left {
  left: 50%;
}

.target-path.right {
  right: 50%;
}

/* Annotation */

/* Accordion */
.accordion-heading {
  margin-bottom: .5rem;
}

.accordion-heading a {
  padding: 0.125rem 0.4rem;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #ffffff !important;
  background-color: #546e7a;
}

.accordion-heading a:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.accordion-heading a:after {
  content: '\2212';
  float: right;
  color: grey;
  font-weight: 600;
}

.accordion-heading a.collapsed:after {
  content: '\2b';
}

.accordion-collapse p {
  position: relative;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.75;
  padding: 0 0.35rem 0.125rem;
}

.accordion-collapse p:hover {
  outline: 0.125rem dashed #37474f;
}

.extract-paragraph-button {
  position: absolute;
  top: 0.125rem;
  right: 0.25rem;
  font-size: 0.8125rem;
  padding: 0.125rem 0.4rem;
  margin: 0;
  display: none;
}

/* Accordion */
