/* Selection */
::selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-moz-selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-webkit-selection {
  color: #ffffff;
  background-color: #dc3545;
}

/* Selection */

/* Drag & Drop */
.dragging-over * {
  pointer-events: none;
}

/* Drag & Drop */

/* Resize */
iframe.width-changed {
  width: 100%;
  display: block;
  border: 0;
  height: 0;
  margin: 0;
}

/* Resize */

/* Scrollbar */
.simplebar-scrollbar::before {
  background-color: var(--scroll-bar-color) !important;
}

/* Scrollbar */

/* Header */
.navbar .nav-link {
  font-weight: 500;
}

/* Header */

/* Page */
.page-main {
  padding-top: 48.5px;
  min-height: calc(100vh - 53.6px);
}

.page-container {
  padding-top: 2rem;
}

.page-intro {
  padding-top: 14rem;
  padding-bottom: 10rem;
  display: none;
}

/* Page */

/* Spinner */
.spinner-border,
.spinner-grow {
  width: 3rem;
  height: 3rem;
}

.spinner-border-sm {
  width: .9rem;
  height: .9rem;
}

/* Spinner */

/* Switch */
.nav-switch {
  position: relative;
  display: inline-block;
  width: 2.125rem;
  height: 1.125rem;
}

.nav-switch input {
  opacity: 0;
  width: 2.125rem;
  height: 1.125rem;
}

.nav-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  transition: all .35s;
}

.nav-switch .slider:before {
  position: absolute;
  content: "";
  height: .875rem;
  width: .875rem;
  top: 50%;
  left: .125rem;
  transform: translateY(-50%);
  background-color: #ffffff;
  transition: all .35s;
}

.nav-switch input:checked+.slider {
  background-color: #2196F3;
}

.nav-switch input:checked+.slider:before {
  transform: translateX(1rem) translateY(-50%);
}

.nav-switch .slider.round {
  border-radius: 2rem;
}

.nav-switch .slider.round:before {
  border-radius: 50%;
}

/* Switch */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  /* Page */
  .page-intro {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

